target
database/

# front-end
static/

# `cargo install` files
/.crates.toml
/.crates2.json

# locally installed binaries
/bin

# asset hub node metadata required for subxt compilation
/metadata.scale

# locally used configs
/configs/*.json
